
@{
    // ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    body {
        background: whitesmoke;
    }

    .box {
        min-height: 400px;
        margin: 30px auto;
        //border:1px solid black;
        border-radius: 10px;
    }
</style>
<div class="container outer">
    <h3 style="text-align:center">Add Product</h3>
    <hr />
    <div class="row box">
        <form method="post" enctype="multipart/form-data">
            <div class="col-md-12">
                
                <div class="row">
                    <div class="col-md-6">
                        Title:<input type="text" name="title" required class="form-control" />
                    </div>
                    <div class="col-md-6">
                        Brand Name:<input type="text" required name="brandname" class="form-control" />
                    </div>
                </div><br />
                <div class="row">
                    <div class="col-md-6">
                        Color:<input type="text" name="pcolor" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        Discription:<input type="text" required name="pdescription" class="form-control" />
                    </div>
                </div><br />
                <div class="row">
                    <div class="col-md-6">
                        Price:<input type="number" required name="price" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        Sale Price:<input type="number" required name="saleprice" class="form-control" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        Picture:<input type="file" required name="picture" class="form-control" />
                    </div>

                </div><br />

                <input type="submit" value="Save"  class="form-control" style="background:lightgreen;" />
            </div>
        </form>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    function btn() {

    }
</script>