
@{
    // ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    body
    {
        background:whitesmoke;
    }
    .div1
    {
        min-height:400px;
        background:pink;
        border:5px solid pink;
        border-radius:10px;
        padding:20px;
        box-sizing:border-box;
    }
</style>
<div class="container-fluid div1">
    <div class="row ">
        
    </div>
</div>
